.about {
    background: url('../assets/bg_imgs/about_bg.png') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card-shadow {
  position: relative;
}

.card-shadow::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3); /* Light shadow color */
  border-radius: 1rem; /* Same rounded corners */
  z-index: -1;
}